* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Poppins', sans-serif;
  background: #111;
  color: white;
}

.split-container {
  display: flex;
  min-height: 100vh;
  width: 100%;
}

/* LEFT */
.left-content {
  width: 40%;
  padding: 80px;
  background: #111;
  z-index: 2;
}

.left-content h1 span {
  color: #ff9933;
}

/* RIGHT IMAGE */
.right-image {
  width: 60%;
  height: 100vh;
  overflow: hidden;
}

.right-image img {
  width: 100%;
  height: 100%;
  object-fit: cover;   /* 🔥 KEY */
  display: block;
}

/* HOME BUTTON */
#home {
  position: fixed;
  top: 30px;
  right: 40px;
  color: #ff9933;
  font-size: 26px;
  z-index: 9999;
}

/* MOBILE */
@media (max-width: 768px) {
  .split-container {
    flex-direction: column;
  }

  .left-content,
  .right-image {
    width: 100%;
  }

  .right-image {
    height: 300px;
  }
}
